/* Footer  */
.footer--container {
    padding-top: 60px;
    padding-bottom: 60px;
    background-color: #2F303A;
    @media (min-width: 768px) {
        display: flex;
        flex-wrap: wrap;
        padding-left: 76px;
        padding-right: 89px;
        align-items: baseline;
    }
}
.footer-address {
    margin-bottom: 60px;
    @media (min-width: 768px) {
        margin-right: 165px;
    }
}
.footer-logo {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;

    text-decoration: none;
    font-family: var(--alt-font-family);
    font-weight: 700;
    font-size: 24px;
    line-height: 1.1666;
    letter-spacing: 0.03em;
    
    color: #ffffff;
}
.footer-logo__web {
    color: var(--brand-color);
}
.address-list {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 8px;
  
}

.address-list__adress {
    font-weight: 400;
    line-height: 1.71;
    font-style: normal;
    
    text-align: center;
    letter-spacing: 0.03em;
    
    color: #FFFFFF;
}
.address-list__contacts {
    font-style: normal;
    font-weight: 400;
    line-height: 1.71;
    letter-spacing: 0.03em;
    
    color: rgba(255, 255, 255, 0.6);
}

.container-join {
    @media (max-width: 767px) {
        margin-bottom: 60px;
    }
    

}

.container-join__title {
    margin-bottom: 20px;
    font-weight: 700;
        line-height: 1.14;
        text-align: center;
        letter-spacing: 0.03em;
        text-transform: uppercase;
    
        color: #FFFFFF;
        // @media (min-width: 768px) {
        //     display: flex;
        //     justify-content: center;
        // }
}

.container-join__list {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.container-join__item {}

.container-join__link {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 44px;
    height: 44px;
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 50%;
}

.container-join__icons {
    fill: #FFFFFF;
}
.container-sign {
    @media (min-width: 768px) {
        padding-left: 90px;
    }
}
.form-sign__input {
    width: 100%;
    height: 50px;
    background-color: #2F303A;
    padding-left: 16px;
    margin-bottom: 20px;
    border: 1px solid rgba(255, 255, 255, 0.3);
        filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
        border-radius: 4px;

        &:focus {
            outline: none;
            border-color: var(--brand-color);
        }

        &::placeholder {
            font-weight: 400;
            font-size: 16px;
            line-height: 1.25;
                /* identical to box height, or 125% */
            
            letter-spacing: 0.03em;
            
            color: rgba(255, 255, 255, 0.6);
        }

        @media (min-width:768px) {
            width: 450px;
        }
}
.subscription-button-footer {
    display: flex;
    align-items: center;
        margin: 0 auto;
        padding: 10px 29px;
        background-color: var(--brand-color);
        color: #fff;
        font-weight: 700;
        font-size: 16px;
        line-height: 1.88;
        text-align: center;
        letter-spacing: 0.06em;
        cursor: pointer;
        border: none;
        border-radius: 4px;
        transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);

        &:hover, 
        &:focus {
        background: #188CE8;
            box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
            border-radius: 4px;
        }

    }
.subscription-icon {
    margin-left: 12px;
    // align-self: baseline;}
}

