/* Features */
.features-list {}

.features-list__item {}

.features-list__picture {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 25px 0;
    background-color: #F5F4FA;
    margin-bottom: 30px;
}

.features-list__icon {}

.features-list__title {
    margin-bottom: 10px;
    font-size: 14px;
    line-height: 1.1428;
    text-align: center;
    letter-spacing: 0.03em;
    text-transform: uppercase;
}

.features-list__text {
    font-weight: 400;
    line-height: 1.71;
    letter-spacing: 0.03em;
    
    color: #757575;
}